body {
  position: fixed;
  width: 100%;
  height: 100%;
  --text-color: white;
  --bg-color: #E6344B;
  --bg-color-2: #FF6F65;
  --leader-color-1: #FF3A53;
  --leader-color-2: #F0665E;
  --leader-color-3: #E25E58;
  --leader-color-4: #D65953;
  --dark-color: #363B49;
}

@media screen and (max-width: 1200px) {
  #app {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  #app {
    width: 1200px;
  }
}

.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--bg-color-2), var(--bg-color));
}

#app {
  height: 100%;
  margin: auto;
  padding: 1rem 2rem;
  color: var(--text-color);
  font-size: 1.3rem;
  background: linear-gradient(var(--bg-color-2), var(--bg-color));
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="text"] {
  height: 3.6rem;
  border-radius: 1.8rem;
  border: none;
  color: var(--bg-color);
  padding: 0 1.8rem;
  font-size: 1.8rem;
  font-weight: bold;
  width: 24rem;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus {
  outline: none;
}

button {
  font-size: 1.2rem;
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem 2.3rem;
  background: var(--text-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.game-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.choice {
  width: 16rem;
  position: relative;
}

.choice.correct {
  background-color: var(--dark-color);
  color: var(--text-color);
}

.choice.incorrect {
  background-color: transparent;
  box-shadow: none;
  color: var(--text-color);
}

.choice i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.choice .score {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.user-answer {
  text-decoration: underline;
}

.big-text {
  font-size: 2.5rem;
}

.small-text {
  font-size: 1rem;
}

.leaderboard {
  font-size: 0.8rem;
  width: 50rem;
  max-width: 100%;
  border: 1px solid var(--bg-color);
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-shadow: none;
  position: relative;
  height: 10rem;
}

.leaderboard-row {
  color: var(--text-color);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: absolute;
  transition: top 0.8s ease-in-out;
  width: 100%;
}

.leaderboard-row:nth-child(1) {
  background-color: var(--dark-color);
}

.leaderboard-row.rank-1 {
  background-color: var(--leader-color-1);
  z-index: 4;
  top: 2rem;
}

.leaderboard-row.rank-2 {
  background-color: var(--leader-color-2);
  z-index: 3;
  top: 4rem;
}

.leaderboard-row.rank-3 {
  background-color: var(--leader-color-3);
  z-index: 2;
  top: 6rem;
}

.leaderboard-row.rank-4 {
  background-color: var(--leader-color-4);
  z-index: 1;
  top: 8rem;
}

.leaderboard-row.rank-5 {
  top: 10rem;
}

.leaderboard-row.ranking-me {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.leaderboard i {
  font-size: 1rem;
  padding-right: 0.5rem;
}

.leaderboard i.invisible {
  color: var(--text-color);
}

.leaderboard img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.leaderboard .bi-person-circle {
  font-size: 1.3rem;
}

.leaderboard .leaderboard-player {
  display: flex;
  align-items: center;
}

.leaderboard .score {
  display: inline-flex;
  padding-left: 0.8rem;
  align-items: center;
}

.leaderboard .score .emoji {
  font-size: 1.1rem;
}

.winner {
  border-radius: 50%;
  width: 9rem;
  border: solid 0.3rem var(--text-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}